#menu{
width: 100%;
height: 40px;
background-color: green;
}
#menu li{
list-style: none;
width: 100px;
background-color: green;
height: 100%;
line-height: 40px;
border-right: 1px solid white;
float: left;
position: relative;
}
#menu li a{
text-decoration: none;
color: white;
}
#menu li i {
	color: white;
}
#menu li:hover a{
color:white;
}


#submenu{
display: none;
}
#menu li:hover #submenu{
display: block;
}

#submenu{
width: 200px;
position: absolute;
top:40px;
left:-40px;

}
#submenu li{
clear: both;
width: 200px;
border-right: none;
border-bottom: 1px solid white;

}