#header {
	width: 100%;
	height: 100px;
	background-color: pink;
}
#mainbar {
	width: 100%;
	height: 500px;
	background-color: gray;
}
.maincontent {
	width: 30%;
	height: 100px;
	background-color: orange;
	margin-left: 2%;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
}
#sidebar {
	width: 100%;
	height: 200px;
	background-color: yellow;
}
#footer {
	width: 100%;
	height: 300px;
	background-color: blue;
}
@media screen and (min-width: 701px) and (max-width: 960px) {
	
}
@media screen and (min-width: 481px) and (max-width: 700px) {
	.maincontent {
		width: 40%;
		margin-left: 5%;
	}
}
@media screen and (max-width: 480px) {
	.maincontent {
		width: 95%;
	}
}